<html>

<body background="hypnotoad.webp">

<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<table id="customers">
  <tr>
    <th>Linie</th>
    <th>Nach</th>
    <th>Status</th>
  </tr>
{% for bahn in Trains %}
  <tr>
    <td>{{ bahn.line }}</td>
    <td>{{ bahn.end }}</td>
    <td>{{ (bahn.remaining / 60)|int }} min</td>
  </tr>
{% endfor %}
  <div class="flight-container" style="overflow: auto; max-height: 80vh">
    <div class="table-responsive">
      <table class="table" id="flights">
        <thead>
          <tr>
            <th scope="col">Flight</th>
            <th scope="col">Destination</th>
            <th scope="col">Check in</th>
            <th scope="col">Depature</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
        
        </tbody>
      </table>
   </div>
  </div>
</body>
</html>
